/* .bg {
  background-image: url("../Pages/Sections/image/footerlogo.png");
  background-size: cover;
  height: 233px;
  width: 100px;
} */
.bg {
  background-image: url("../Pages/Sections/image/footerlogo.png");
  background-size: cover;
  background-position: center;
}

.bg-yellow {
  background-color: rgba(255, 194, 71, 0.92);

  border-radius: 42px;
  padding: 35px, 36px, 36px, 36px;
}
